{% load static %}
<head>
<!-- <link rel="stylesheet" href="{% static '/css/style.css' %}"> -->
<link rel="stylesheet" href="./../static/css/style.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
<div class="center">
<i class="fa fa-link"></i>
<h1>
    welcome to pantree
</h1>
<h4>
    enter a comma-separated list of ingredients
</h4>
<br>
<form method="post" autocomplete="off" >
    {% csrf_token %}
    <p>
        <label> {{ form.ingredients.label}}  </label> &nbsp;
        {{ form.ingredients }}
    </p>
    <p>
        <label> {{ form.must_have_ings.label}}  </label> &nbsp;
        {{ form.must_have_ings }}
    </p>
    <!-- <p>
        <label> {{ form.max_missing_ings.label}}  </label> &nbsp;
        {{ form.max_missing_ings }}
    </p> -->
    <br>
    <p>
        <label> </label>
        <input type="submit" value="Submit">
    </p>
</form>
<script type = "text/javascript" src="./../static/js/autocomplete.js"></script> 
</div>
</body>