form {
    display: table;
    /* justify-content: center; */
    text-align: center;
    margin: 0 auto;
  }

label { display: table-cell;}

input { display: table-cell;}

h1 { text-align:center; }
h4 { text-align:center; }
  
p {
    display: table-row;  
    text-align: center;
  }